<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alafif.newform"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- مطلوب لـ Android 11+ للسماح بالاستعلام عن تطبيقات أخرى -->
    <queries>
        <!-- حزمة محفظة جيب -->
        <package android:name="com.ahd.jaib" />
        <!-- رابط jeeb:// scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="jeeb" />
        </intent>
        <!-- رابط jaib:// scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="jaib" />
        </intent>
        <!-- رابط https://jeeb.app (Android App Links) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="jeeb.app" />
        </intent>
        <!-- intent:// scheme -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="intent" />
        </intent>
    </queries>

    <application
        android:label="العفيف نيوفورم"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LaunchTheme"
        android:hardwareAccelerated="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/LaunchTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
